[submodule "netron"]
	path = netron
	url = https://github.com/lutzroeder/netron
[submodule "PlotNeuralNet"]
	path = PlotNeuralNet
	url = https://github.com/HarisIqbal88/PlotNeuralNet
[submodule "flashtorch"]
	path = flashtorch
	url = https://github.com/MisaOgura/flashtorch
[submodule "dl-visualization"]
	path = dl-visualization
	url = https://github.com/vivek3141/dl-visualization
[submodule "pytorch-cnn-visualizations"]
	path = pytorch-cnn-visualizations
	url = https://github.com/utkuozbulak/pytorch-cnn-visualizations
[submodule "Tools-to-Design-or-Visualize-Architecture-of-Neural-Network"]
	path = Tools-to-Design-or-Visualize-Architecture-of-Neural-Network
	url = https://github.com/ashishpatel26/Tools-to-Design-or-Visualize-Architecture-of-Neural-Network
[submodule "deep-visualization-toolbox"]
	path = deep-visualization-toolbox
	url = https://github.com/yosinski/deep-visualization-toolbox
[submodule "draw_convnet"]
	path = draw_convnet
	url = https://github.com/gwding/draw_convnet
[submodule "tikz_cnn"]
	path = tikz_cnn
	url = https://github.com/jettan/tikz_cnn
