[submodule "netron"]
	path = netron
	url = https://github.com/lutzroeder/netron
[submodule "PlotNeuralNet"]
	path = PlotNeuralNet
	url = https://github.com/HarisIqbal88/PlotNeuralNet
[submodule "flashtorch"]
	path = flashtorch
	url = https://github.com/MisaOgura/flashtorch
[submodule "dl-visualization"]
	path = dl-visualization
	url = https://github.com/vivek3141/dl-visualization
